<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body ng-app="main">

<div ng-controller="DemoCtrl">
        <p><strong>Page:</strong> {{tableParams.page()}}</p>
        <p><strong>Count per page:</strong> {{tableParams.count()}}</p>
        
        <table ng-table="tableParams" class="table">
        <tr ng-repeat="user in $data">
        	<td data-title="'Sno.'">{{$index+1}}</td>
            <td data-title="'Name'">{{user.Name}}</td>
            <td data-title="'Email'">{{user.EMAIL}}</td>
        </tr>
        </table>
    </div> 


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>

<script type="text/javascript" src="https://raw.githubusercontent.com/esvit/ng-table/master/ng-table.js"></script>

<script type="text/javascript">
var app = angular.module('main', ['ngTable']).
service('myservice',['$http',function($http){
	this.getData=function(url){
		return $http.get(url);
	}
}]).
controller('DemoCtrl',['$scope','$rootScope','ngTableParams','myservice',function($scope,$rootScope,ngTableParams,myservice) {
	$rootScope.currentPage=1;
console.log('current page: ' + $rootScope.currentPage);
	myservice.getData('http://localhost/testpagination/public/testpagination').success(function(response){
		if(response.Success){
			//console.log(response.Success.data);
			var data=response.Success.data;

			 $scope.tableParams = new ngTableParams({
        page: 1,            // show first page
        count: 10           // count per page

    }, {
        total: response.Success.total, // length of data
        getData: function($defer, params) {
            $defer.resolve(data.slice((params.page() - 1) * params.count(), params.page() * params.count()));
            $rootScope.currentPage=params.page();
            //console.log('current page: ' + params.page());
          //console.log('items per page: ' + $scope.page);
        }
    });
		}else if(response.Fail){
			console.log('i got fail.');
		}
		
	}).error(function(response){
		console.log('http error');
	});

//console.log('ur option'+ $scope.tableParams.page);

   
}]); 
</script>
</body>
</html>